services:
  db:
    image: postgres:15
    container_name: postgres_db
    restart: always
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres123
    ports:
      - "5432:5432"

volumes:
  postgres_data:
